<a href="https://colab.research.google.com/github/N3PH4L3M/Arg.Prog.4.0/blob/main/Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducción a Python**

* Python es un lenguaje de programación de alto nivel interpretado.
* Potente y fácil de aprender.
* Es multiparadigma: acepta los modelos de la programación estructurada y de la programación orientado a objetos.
* Tiene tipado dinámico.
* Posee una extensa librería estándar en constante crecimiento.
* El intérprete y las librerías estándar se pueden distribuir libremente.

# Palabras reservadas en Python

Las palabras reservadas (Keywords) se utilizan para definir la sintaxis y la estructura del lenguaje Python.
En Python, las palabras reservadas son case-sensitive, es decir, distinguen entre mayúsculas y minúsculas.
Todas las palabras reservadas, excepto True, False y None, están en minúsculas y deben escribirse de esa manera. La lista de todas las palabras reservadas o clave se muestra a continuación:

In [ ]:
False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield

# Identificadores en Python

Un identificador es el nombre que se le da a entidades como clases, funciones, variables, etc. Ayuda a diferenciar una entidad de otra.

*Reglas para escribir identificadores:*


*   Los identificadores pueden ser una combinación de letras en minúsculas (a-z) o 
mayúsculas (A-Z) o dígitos (0-9) o un guión bajo ( _ ). Nombres como myClass, var_1, mostrar_pantalla, son ejemplos válidos.
*   Un identificador no puede comenzar con un dígito: 1variable no es un identificador válido, pero variable1 si lo es.
*   Las Keywords no se pueden utilizar como identificadores.
*   No podemos usar símbolos especiales como: !, @, #, $,% en nuestro identificador
*   Un identificador puede tener cualquier longitud.

In [ ]:
number = 8 #number es un identificador válido del valor numérico 5.
number

8

Python es un lenguaje **case-sensitive**, distingue entre mayúsculas y minúsculas. Esto significa que *Variable* y *variable* no son lo mismo.
Siempre dé a los identificadores un nombre que tenga sentido. Si bien *s* = 10 es un nombre válido, escribir *saldo* = 10 tendría más sentido y sería más fácil averiguar qué representa cuando mira su código después de un largo espacio de tiempo.
Se pueden separar varias palabras con un guión bajo, como *sueldo_personal_administrativo*.

En el ejemplo anterior hay texto en verde que corresponde a los comentarios, todo texto que consigne a continuación del "#" no será interpretado.

# Variables en Python

Una variable es una ubicación con nombre que se utiliza para almacenar datos en la memoria. Es útil pensar en las variables como un contenedor que posee datos que se pueden cambiar más adelante en el transcurso de un programa.
Ejemplo: number = 5  #la variable identificada como number contiene en memoria al valor 5.

El valor contenido en una variable puede ser reemplazado por otro en cualquier instancia del programa.
Ejemplo: number = 5
   number = 10 # el valor 5 de la variable number fue reemplazado por el valor 10 la línea siguiente. 

Para darle un contenido a una variable se emplea el operador de asignación “=”.

Puede asignar múltiples valores a múltiples variables.
Ejemplo: a, b, c = 1, 2.5, ‘A’  #El valor 1 se asigna a la variable a; el valor 2.5 se asigna a la variable b y el valor ‘A’ se asigna a la variable c. 

Puede asignar un único valor a múltiples variables.
Ejemplo: a, b, c = 5  #El valor 5 es asignado a las variables a, b y c por igual.

In [ ]:
number = 5 #la variable identificada como number contiene en memoria al valor 5.
number

5

El valor asociado a una variable puede ser reemplazado por otro en cualquier instancia del programa.

In [ ]:
number = 7
print(number)
number = 10 # el valor 5 de la variable number fue cambiado por el valor 10 la línea siguiente.
number

7

10

Puede asignar múltiples valores a múltiples variables.

In [ ]:
a, b, c = 1, 2.5, 'A' #El valor 1 se asigna a la variable a; el valor 2.5 se asigna a la variable b y el valor ‘A’ se asigna a la variable c.
print(a) #Mostrar el valor almacenado en a
print(b) #Mostrar el valor almacenado en b
print(c) #Mostrar el valor almacenado en c

1
2.5
A

# Tipos de datos básicos

En Python podemos encontrar distintos tipos de datos con diferentes características y clasificaciones. Los tipos de datos básicos de Python son los numéricos (enteros, punto flotante y complejos), las cadenas de caracteres y los booleanos.

**Tipos numéricos:**

*   Enteros ( int ): comprende el conjunto de todos los números enteros, pero como dicho conjunto es infinito, en Python el conjunto está limitado por la capacidad de memoria disponible.
Un número de tipo int se crea a partir de un literal que representa un número entero o bien como resultado de una expresión o una llamada a una función.

In [ ]:
a = 5  # a es de tipo int y su valor es 5. 
a

5

In [ ]:
b = a + 5 # b es de tipo int y su valor es 10.
b

10

También podemos representar los números enteros en formato binario, octal o hexadecimal.

In [ ]:
a = 555          #Valor entero
print(a)
a_bin = bin(a)   #Valor binario
print(a_bin)
a_oct = oct(a)   #Valor octal
print(a_oct)
a_hexa = hex(a)  #Valor hexadecimal
print(a_hexa)

555
0b1000101011
0o1053
0x22b

*   Flotantes ( float ): comprende el conjunto de todos los números reales, el cual 
es infinito, con una precisión de hasta 15 posiciones decimales.

  Puede reducir la precisión de 15 decimales redondeando el valor flotante con la función *round(valor, cantidad_decimales)*.

In [ ]:
a = 5.4561      # a es de tipo float y su valor es 5.4561
a

5.4561

In [ ]:
b = 3.1231      # b es de tipo float y su valor es 3.1231 
b

3.1231

In [ ]:
c = a + b         # c es de tipo float y su valor es 8.5792
c

8.5792

In [ ]:
d = round(c,2) # d es de tipo float y su valor es 8.58
d

8.58

*   Complejos ( complex ): los números complejos tienen una parte real y otra imaginaria y cada una de ellas se representa como un float.
Para crear un número complejo, se sigue la siguiente estructura [parte_real] + [parte_imaginaria] j. Y se puede acceder a la parte real e imaginaria a través de los atributos real e imag.

In [ ]:
complejo = complex(1,2)   # complejo es del tipo complex y su valor es 1+2j.
complejo

(1+2j)

In [ ]:
r = complejo.real  # r es de tipo float y su valor es 1.0 
r

1.0

In [ ]:
i = complejo.imag   # i es de tipo float y su valor es 2.0
i

2.0

**Cadena de caracteres ( str )**  
Es una secuencia inmutable de caracteres Unicode. Podemos usar comillas simples o dobles ( ‘ ’ ; “ ” ) para representar cadenas. Las cadenas de varias líneas se pueden denotar mediante comillas triples ( ' ' ' ; " " " ).

In [ ]:
char = 'a'         # char es de tipo str y su valor es a.
char

'a'

In [ ]:
s1 = 'hola mundo'  # s2 es de tipo str y su valor es hola mundo.
s1

'hola mundo'

In [ ]:
s2 = "hola mundo"  # s2 es de tipo str y su valor es hola mundo.
s2

'hola mundo'

In [ ]:
s3 = """hola
        
        mundo"""   # s3 es de tipo str y su valor es hola \n mundo.
s3

'hola\n        \n        mundo'

**Tipo Booleano ( bool )**

En Python el tipo de dato que representa los valores booleanos es bool. Este tipo de dato solo puede adoptar los valores True para representar verdadero y False para representar falso. Además, se puede representar el valor falso con None y con el valor cero de cualquier tipo numérico: 0, 0.0, 0j.

In [ ]:

a = True # a es de tipo bool y su valor es True.
a

True

**Conversión entre tipos de datos**

Podemos convertir diferentes tipos de datos usando funciones de conversión de tipos como int (), float (), str (), etc.

In [ ]:

a = 5            # a es de tipo int y su valor es 5
print(a)
b = float( a )   # b es de tipo float y su valor es 5.0 
print(b)
x = 10.9         # x es de tipo float y su valor es 10.9
print(x)
y = int( x )     # y es de tipo int y su valor es 10 
print(y)
m = 25           # m es de tipo int y su valor es 25
print(m)
p = str( m )     # p es de tipo str y su valor es ‘25’
print(p)

5
5.0
10.9
10
25
25

Para conocer el tipo de dato asignado a una variable podemos emplear la función type().

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
type(p)

str

# Entrada y salida

**print()**

Usamos la función print() para enviar datos al dispositivo de salida estándar (pantalla).

In [ ]:
print('Hola Mundo') #se muestra por pantalla el mensaje Hola Mundo.

number = 5
print('El valor de number es:', number) #se muestra por pantalla el mensaje El valor de number es: 5.

Hola Mundo
El valor de number es: 5

**input()**

Hasta ahora, el valor de las variables se definió en el código fuente.
Para permitir la flexibilidad, es posible que deseemos tomar la entrada del usuario. En Python, tenemos la función input().

In [ ]:
dato = input('Ingrese valor: ')  # el valor que ingresa el usuario se asigna a la variable x
print(type(dato))                # el valor ingresado por el usuario es del tipo str,
dato = float(dato)               # para emplearlo en operaciones se lo convierte a tipo float.   
dato

Ingrese valor: 12
<class 'str'>

12.0

# Operadores en Python
[Enlace a bibliografía](https://www.freecodecamp.org/espanol/news/operadores-basicos-en-python-con-ejemplos/)

In [ ]:
#Operadores Aritméticos
a = 12
b = 7

suma = a + b
print('a + b =', suma)
resta = a - b
print('a - b =', resta)
multiplicacion = a * b
print('a * b =', multiplicacion)
division = a / b
print('a / b =', division)
division_entera = a // b
print('a // b =', division_entera)
resto_division = a % b
print('a % b =', resto_division)
potencia = a**b
print('a ** b =', potencia)

a + b = 19
a - b = 5
a * b = 84
a / b = 1.7142857142857142
a // b = 1
a % b = 5
a ** b = 35831808

In [ ]:
#Operadores Relacionales
a = 12
b = 5

print('a<b: ', a<b)
print('a>b: ', a>b)
print('a==b:', a==b)
print('a>=b:', a>=b)
print('a<=b:', a<=b)
print('a!=b:', a!=b)

a<b:  False
a>b:  True
a==b: False
a>=b: True
a<=b: False
a!=b: True

In [ ]:
#Operadores Lógicos
a = 12
b = 5

#and 
print('(a and b) > 10:', (a and b) > 10)

#or
print('(a or b) > 10:', (a or b) > 10)

(a and b) > 10: False
(a or b) > 10: True